ObjectRef/ObjectRef/bin
ObjectRef/ObjectRef/obj/Debug
ObjectRef/.vs/ObjectRef/v14
Save Humans/.vs/Save the Humans/v14/.suo
WinRedminePlaning/.vs/WinRedminePlaning/v14/.suo
ObjectRef/ObjectRef/obj/Debug/ObjectRef.csproj.FileListAbsolute.txt
Stack/.vs/Stack/v14/.suo
Stack/Stack.sln
Stack/Stack/bin/
Stack/Stack/Stack.csproj
Stack/Stack/obj/
Stack/Stack/obj/Debug/Stack.csproj.FileListAbsolute.txt
Recursion/Recursion/Recursion.csproj
Recursion/Recursion/obj/
Recursion/.vs/Recursion/v14/.suo
Recursion/Recursion.sln
Recursion/Recursion/App.config
Recursion/Recursion/bin/
Recursion/Recursion/Properties/AssemblyInfo.cs
