ObjectRef/ObjectRef/bin
ObjectRef/ObjectRef/obj/Debug
ObjectRef/.vs/ObjectRef/v14
Save Humans/.vs/Save the Humans/v14/.suo
WinRedminePlaning/.vs/WinRedminePlaning/v14/.suo
ObjectRef/ObjectRef/obj/Debug/ObjectRef.csproj.FileListAbsolute.txt
Stack/.vs/Stack/v14/.suo
Stack/Stack.sln
Stack/Stack/bin/
Stack/Stack/Stack.csproj
Stack/Stack/obj/
Stack/Stack/obj/Debug/Stack.csproj.FileListAbsolute.txt
Recursion/Recursion/Recursion.csproj
Recursion/Recursion/obj/
Recursion/.vs/Recursion/v14/.suo
Recursion/Recursion.sln
Recursion/Recursion/App.config
Recursion/Recursion/bin/
Recursion/Recursion/Properties/AssemblyInfo.cs
/ThreeD/ThreeD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ThreeD/ThreeD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ThreeD/ThreeD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ThreeD/ThreeD/obj/Debug
/ThreeD/ThreeD/bin/Debug
/ThreeD/.vs/ThreeD/v14
/CheckMails/CheckMails/bin/Debug
/CheckMails/CheckMails/obj/Debug
CheckMails/.vs/CheckMails/v14/.suo